body{
    font-family: 'Fraunces', serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
.orange-heghlight{
    color: orange;
}
.half-width{width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;

}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 10px;
}
.link-button{
    text-decoration: none;
  color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(lightSalmon, tomato);
    font-weight: bold;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width-exp{width: 37%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: whitesmoke;
    

}
#full-stack{
    border-left:6px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
    }
    #baby{
        border-left:6px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    }
    footer p{
        text-align: center;

    }

